.icon-div {
    min-width: 225px;
    padding-left: 25px;
    margin-top: 20px;
}

.icon-span{
    color: #fff;
}


@media only screen and (max-width: 755px) {
    .icon-div {
      display: none;
    }
  }